<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/item}" method="post" th:object="${item}">

    <div th:errors="*{money}">상품가격오류</div>
    상품가격<input type="text" name="*{money}"><br>
    <div th:errors="*{name}">상품이름 오류</div>
    상품이름<input type="text" name="*{name}"><br>
    <div th:errors="*{inDate}">상품수량 오류</div>
    상품수량<input type="text" name="*{inDate}"><br>
    <button>등록</button>

</form>
</body>
</html>