<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>memberRegister</title>
    <script>
        function register(){
            //alert("");

            //데이터 가져오기
            //json객체로 만들기
            //확인하기
            //fetch 사용해서 등록하기

            let id = document.getElementById("id").value;
            let name = document.getElementById("name").value;
            let email = document.getElementById("email").value;

            let jsonData={id:id,name:name,email:email};
            console.log(jsonData);

            fetch("/members",{
                method:"post",
                headers:{"Content-Type":"application/json"},
                body: JSON.stringify(jsonData)
            })
            .then(response => response.text())
            .then((data)=>{console.log(data);})
            .catch((err)=>{console.log(err)});
        }
/*
    fetch("/members",{
    method:"post",
    headers:{"Content-Type":"application/json},
    body:"{id:id,name:name,email:email}"
    })
    .then(response => response)
    .then()
    .catch()

        */

    </script>
</head>
<body>
<input type="text" id="id"><br>
<input type="text" id="name"><br>
<input type="text" id="email"><br>
<button onclick="register()">등록</button>
</body>
</html>